.MapContainer {
    width: 100%;
    height: 93vh;
}

.viewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 100%;
    margin-left: 1vw;
}

.card1 {
    height: 32vh;
    width: 40vw;
    margin-bottom: 2vh;
    overflow: hidden;
}


.card2 {
    height: 37vh;
    width: 19vw;
    margin-bottom: 1vh;
    overflow: hidden;
}

.card3 {
    height: 37vh;
    width: 20vw;
    margin-bottom: 2vh;
    margin-left: 0.6vw;
    overflow: hidden;
}

.card4 {
    height: 16vh;
    width: 40vw;
    overflow: hidden;
}